* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.count {
  font-size: 60px;
  font-family: 'Roboto';
  color: rgb(11, 11, 48);
  margin: 20px;
}
.button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  color: #ffffff;
  background-color: blueviolet;
  cursor: pointer;
  outline: none;
}
